body {
  display: block;
  margin: 8px;
  width: 700px;
  height: 100px;
}
.box {
  position: absolute;
}
button {
  margin-bottom: 10px;
  margin-top: 10px;
  width: 100px;
  height: 40px;
  background-color: yellow;
  border: none;
}
.days-of-week {
  background-color: rgb(17, 226, 44);
}
.button-month {
  margin-bottom: 10px;
  margin-top: 10px;
  width: 55px;
  height: 40px;
  background-color: rgb(199, 127, 177);
  border: black;
  font-size: 10px;
}
.hide-btn {
  display: none;
}
input[type=text]{
  width:200px;
}